In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('/home/nikita/PycharmProjects/natural_language/data/test.csv')
data.head()

,Unnamed: 0,stars,text,useful,funny,funny.1
0,116832,3,The good: mini doughnuts and americano friendl...,2,0,0
1,4086865,3,I really like the décor of the place and the w...,0,0,0
2,3764839,5,"Great service, clean and great food, this plac...",3,0,0
3,4706064,5,This place has never failed on me! \nLate nigh...,0,0,0
4,4340505,2,This is a fast food spin off from Paramount Fi...,4,1,1

In [3]:
data = data.drop(['Unnamed: 0', 'funny.1'], axis=1)
data.head()

   stars                                               text  useful  funny
0      3  The good: mini doughnuts and americano friendl...       2      0
1      3  I really like the décor of the place and the w...       0      0
2      5  Great service, clean and great food, this plac...       3      0
3      5  This place has never failed on me! \nLate nigh...       0      0
4      2  This is a fast food spin off from Paramount Fi...       4      1

In [4]:
data.funny[ (data.funny > 0 )] = 1
data.funny[ (data.funny == 0 )] = 0
data.funny.value_counts()

/home/nikita/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/nikita/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    826308
1    226026
Name: funny, dtype: int64

In [5]:
data.useful[ (data.useful > 0 )] = 1
data.useful[ (data.useful == 0 )] = 0
data.useful.value_counts()

/home/nikita/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/nikita/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

 0    549185
 1    503148
-1         1
Name: useful, dtype: int64

In [6]:
data.head()

   stars                                               text  useful  funny
0      3  The good: mini doughnuts and americano friendl...       1      0
1      3  I really like the décor of the place and the w...       0      0
2      5  Great service, clean and great food, this plac...       1      0
3      5  This place has never failed on me! \nLate nigh...       0      0
4      2  This is a fast food spin off from Paramount Fi...       1      1

In [ ]:
data.to_csv('test_prepocess.csv', index_label=False)